:host {
  --nav-icon-height: 66px;
  --nav-icon-width: 50px;
  --slider-height: 50svh;
  height: var(--slider-height);
  @apply flex gap-4 overflow-hidden rounded;
}

@mixin nav-button {
  z-index: 2;
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
  top: calc((var(--slider-height) - var(--nav-icon-height)) / 2);
  @apply flex items-center justify-center absolute text-slate-50 bg-slate-900/30 rounded-md border border-slate-50/70 cursor-pointer;
}

.amdb-swiper-nav-prev {
  @include nav-button();
  left: 0.5rem;
}

.amdb-swiper-nav-next {
  @include nav-button();
  right: 0.5rem;
}

.amdb-swiper-main {
  position: relative;
  width: 75%;
  height: 100%;

  &::part(bullet-active) {
    background-color: white;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .slide-item {
    max-height: var(--slider-height);

    img {
      width: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}

.amdb-swiper-thumbs {
  width: 25%;

  &::part(container) {
    display: flex;
    flex-direction: column;
  }

  &::part(slide-visible) {
    padding: 1rem;
  }
}
