@if (details().value; as data) {
<section
  ioChild="opacity-100"
  class="bg-cover bg-no-repeat opacity-0 transition-opacity duration-[2s]"
  [style.background-image]="'url(' + backdropPath() + ')'"
>
  <div class="size-full bg-gray-50/30 dark:bg-gray-900/60">
    <div
      class="backdrop-blur-sm bg-gradient-to-t md:bg-gradient-to-r from-gray-50 dark:from-gray-900 to-gray-50/30 dark:to-gray-900/60 p-8 md:p-10"
    >
      <div class="md:flex md:flex-nowrap md:gap-8 max-w-screen-xl mx-auto">
        <div class="h-fit">
          <div
            class="group/poster block size-full rounded-t-lg select-none overflow-hidden relative"
          >
            <div class="size-full">
              <img
                width="300"
                height="450"
                class="size-full"
                [alt]="data.original_name"
                [src]="baseMediaUrl + '300_and_h450_bestv2' + data.poster_path"
                [srcset]="
                  baseMediaUrl + '300_and_h450_bestv2' + data.poster_path + ' 1x,' +
                  baseMediaUrl + '600_and_h900_bestv2' + data.poster_path + ' 2x'
                "
              />
            </div>
            <div
              class="size-full bg-gray-50/30 dark:bg-gray-900/70 absolute top-0 left-0 rounded-lg backdrop-blur-md invisible group-hover/poster:visible opacity-0 transition-opacity duration-200 group-hover/poster:opacity-100 flex items-center justify-center cursor-pointer rounded-b-none"
            >
              <a
                class="text-black dark:text-white text-center font-semibold inline-flex"
              >
                <fast-svg name="expand" size="16" />&nbsp;
                <span>Expand</span>
              </a>
            </div>
          </div>
          @if(data.in_production && data.networks.length) {
          <a
            class="surface-card !border-t-0 rounded-b-lg flex items-center justify-center gap-4 py-2 px-4 cursor-pointer"
          >
            <img
              [src]="'https://media.themoviedb.org/t/p/original' + data.networks[0].logo_path"
              alt="Now streaming on {{ data.networks[0].name }}"
              width="60"
            />
            <div class="text-sm text-gray-700 dark:text-white">
              <p>Now Streaming</p>
              <p class="font-semibold">Watch now</p>
            </div>
          </a>
          }
        </div>
        <div class="text-gray-800 dark:text-white flex mt-4 md:mt-0">
          <div class="my-auto">
            <h1 class="font-bold text-2xl md:text-4xl my-4">
              <span class="text-hero">{{ data.name }}</span>
              <br class="md:hidden" />
              <span class="font-normal">
                ({{ data.first_air_date | date: 'YYYY' }})
              </span>
            </h1>
            <p class="text-sm">
              <span
                class="border border-gray-500 rounded-sm text-gray-500 px-1 mr-2 text-xs"
              >
                TV-PG
              </span>
              @for(genre of data.genres; track genre.id) {
              <a
                [attr.aria-label]="genre.name"
                title="See more about {{ genre.name }}"
                class="cursor-pointer hover:opacity-75"
              >
                {{ genre.name }}
              </a>
              <span class="last:hidden">,</span>
              }
            </p>
            <div class="flex gap-4">
              <button
                uiRipple
                type="button"
                name="add-to-favorite-list"
                aria-label="add to favorite list"
                title="Login to add this movie to your favorite list"
                class="app-button !p-3 mt-4 block !transition-opacity bg-white dark:bg-gray-700 hover:opacity-75 !rounded-full"
              >
                <div
                  class="flex size-full items-center justify-center font-semibold text-sm"
                >
                  <fast-svg name="heart-outline" size="16" />
                </div>
              </button>
              <button
                uiRipple
                type="button"
                name="add-to-watchlist"
                aria-label="add to watchlist"
                title="Login to add this movie to your watch list"
                class="app-button !p-3 mt-4 block !transition-opacity bg-white dark:bg-gray-700 hover:opacity-75 !rounded-full"
              >
                <div
                  class="flex size-full items-center justify-center font-semibold text-sm"
                >
                  <fast-svg name="plus" size="16" />
                </div>
              </button>
              <button
                uiRipple
                type="button"
                name="rate-movie-button"
                aria-label="rate movie"
                title="Login to rate this movie"
                class="app-button !p-3 mt-4 block !transition-opacity bg-white dark:bg-gray-700 hover:opacity-75 !rounded-full"
              >
                <div
                  class="flex size-full items-center justify-center font-semibold text-sm"
                >
                  <fast-svg name="star-outline" size="16" />
                </div>
              </button>
              <button
                uiRipple
                type="button"
                name="play-trailer-button"
                aria-label="play-trailer"
                title="Play movie's trailer"
                class="app-button !p-3 mt-4 block !transition-opacity bg-white dark:bg-gray-700/50 hover:opacity-75 !rounded-full"
              >
                <div
                  class="flex size-full items-center justify-center font-semibold text-sm"
                >
                  <fast-svg name="playback" size="16" />
                  <span class="ml-2">Play trailer</span>
                </div>
              </button>
            </div>
            <div class="mt-4">
              <p class="italic text-gray-500">{{ data.tagline }}</p>
              <p class="font-bold text-lg my-2">Overview</p>
              <p class="text-black dark:text-white line-clamp-3">
                {{ data.overview }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="max-w-screen-xl mx-auto md:flex md:gap-4 px-8 md:p-0">
  <div class="w-full md:w-3/4">
    <section
      class="mb-10 md:my-10 opacity-0 transition-opacity duration-[1s]"
      ioChild="opacity-100"
    >
      <h1 class="text-2xl font-bold text-hero">Current season</h1>
      <div
        class="group/title flex items-center gap-1 cursor-pointer w-max select-none text-gray-800 dark:text-white mt-2 mb-4"
      >
        <span class="bg-red-600 block h-4 w-[0.35rem] rounded-md"></span>
        <h1 class="text-base font-semibold">All seasons</h1>
        <fast-svg
          class="transition-colors duration-100 group-hover/title:text-purple-600"
          name="nav-next"
          size="10"
        />
      </div>

      @if(data.seasons.length) {
      <div
        class="surface-card rounded-md shadow flex text-gray-800 dark:text-gray-100"
      >
        <a class="block min-w-32 w-32 p-2 md:p-0">
          <img
            loading="lazy"
            class="w-full h-fit rounded md:rounded-r-none md:rounded-l-md"
            [alt]="data.last_episode_to_air.name"
            [src]="baseMediaUrl + '130_and_h195_bestv2' + data.seasons[0].poster_path"
            [srcset]="
            baseMediaUrl + '130_and_h195_bestv2' + data.seasons[0].poster_path + ' 1x,' +
            baseMediaUrl + '260_and_h390_bestv2' + data.seasons[0].poster_path + ' 2x'
          "
          />
        </a>
        <div class="p-2 md:p-4 w-full overflow-hidden">
          <h2 class="font-bold text-xl">{{ data.seasons[0].name }}</h2>
          <div class="flex items-center gap-2 my-1 font-bold">
            <div
              class="text-xs bg-black dark:bg-white text-gray-100 dark:text-black rounded px-2 inline-flex items-center font-medium"
            >
              <fast-svg name="star" size="12" />
              <span>{{ data.seasons[0].vote_average }}</span>
            </div>
            <div class="text-sm">
              <span>{{ data.seasons[0].air_date | date: "YYYY" }}</span>🔸
              <span>
                {{ data.seasons[0].episode_count }} {{
                data.seasons[0].episode_count > 1 ? 'episodes' : 'episode' }}
              </span>
            </div>
          </div>
          <div class="md:mt-4">
            <p class="my-2">
              Season {{ data.seasons[0].season_number }} of {{ data.name }}
              premiered on {{ data.seasons[0].air_date | date: "MMMM dd, YYYY"
              }}
            </p>
            @if(data.last_episode_to_air; as ep) {
            <p class="my-2 flex flex-col md:flex-row md:items-center gap-1">
              <a class="font-semibold text-pink-500">{{ ep.name }}</a>
              <span>🔸{{ ep.season_number + 'x' + ep.episode_number }}</span>
              <span>🔸{{ ep.air_date | date:"MMMM dd, YYYY" }}</span>
              <span
                class="text-sm bg-black dark:bg-white text-gray-100 dark:text-black rounded px-2 inline-flex items-center font-medium w-fit"
              >
                Season {{ ep.episode_type }}
              </span>
            </p>
            }
          </div>
        </div>
      </div>
      }
    </section>

    <!-- cast list -->
    <section
      class="mb-10 md:my-10 opacity-0 transition-opacity duration-500 delay-500"
      ioChild="opacity-100"
    >
      @if(castList) {
      <h1 class="text-2xl font-bold text-hero">Series cast</h1>
      <div
        class="group/title flex items-center gap-1 cursor-pointer w-max select-none text-gray-800 dark:text-white mt-2 mb-4"
      >
        <span class="bg-red-600 block h-4 w-[0.35rem] rounded-md"></span>
        <h1 class="text-base font-semibold">Full cast & crew</h1>
        <fast-svg
          class="transition-colors duration-100 group-hover/title:text-purple-600"
          name="nav-next"
          size="10"
        />
      </div>
      <ui-slider-container
        class="mt-4 md:mt-8"
        [class.overflow-x-auto]="true"
        [slidePerView]="screen.md() ? 6 : 2"
        [showNavigation]="false"
      >
        @for(cast of castList; track cast.id) {
        <div
          uiSliderContent
          ioChild="opacity-100"
          class="pr-4 opacity-0 transition-opacity duration-500"
        >
          <div class="surface-card rounded overflow-hidden h-fit shadow">
            <img
              class="object-cover object-top transition-opacity duration-200 hover:opacity-90 cursor-pointer min-h-[200px] w-full h-auto max-h-[300px]"
              [src]="config.imageBaseUrl + 200 + cast.profile_path"
              [alt]="cast.name"
              loading="lazy"
            />
            <div class="p-2">
              <p class="text-base mb-2 text-gray-800 dark:text-white">
                <a
                  class="w-fit hover:underline cursor-pointer text-center font-semibold"
                >
                  {{ cast.name }}
                </a>
              </p>
              @if (cast.roles.length) {
              <p class="text-xs mb-2">
                as <b>{{ cast.roles[0].character }}</b>
              </p>
              }
              <p class="text-xs">
                <span>{{ cast.total_episode_count }}</span>
                <span>
                  {{ cast.total_episode_count > 1 ? 'episodes' : 'episode' }}
                </span>
              </p>
            </div>
          </div>
        </div>
        }
      </ui-slider-container>
      }
    </section>

    <!-- socials -->
    <section
      class="mb-10 md:my-10 transition-opacity duration-500 delay-200 opacity-0"
      ioChild="opacity-100"
    >
      <h1 class="text-2xl font-bold text-hero">Socials</h1>
      <ui-tabset>
        <div
          uiTab
          #x="uiTab"
          tabTitle="Reviews"
          class="border border-white dark:border-gray-700"
        >
          @defer(when x.active) {
          <ui-latest-review-card
            [loading]="reviews().loading"
            [review]="lastReview()"
          />
          }
        </div>
        <div
          uiTab
          tabTitle="Companies"
          class="border border-white dark:border-gray-700"
        >
          <div
            class="w-full flex gap-4 flex-col items-center justify-center md:flex-row"
          >
            @for(c of (data.production_companies || []); track c.id) {
            <div class="p-4">
              @if (c.logo_path; as logo) {
              <img
                class="min-w-[200px] w-[200px]"
                [src]="'https://media.themoviedb.org/t/p/original' + logo"
                [alt]="c.name"
              />
              } @else {
              <p class="text-2xl font-semibold mt-4">{{ c.name }}</p>
              }
            </div>
            }
          </div>
        </div>
      </ui-tabset>
    </section>

    <!-- media -->
    <section
      class="mb-10 md:my-10 transition-opacity duration-500 delay-200 opacity-0"
      ioChild="opacity-100"
    >
      <h1 class="text-2xl font-bold text-hero">Media</h1>
      <ui-tabset>
        <div
          uiTab
          #x="uiTab"
          tabTitle="Videos"
          class="!p-0 border border-white dark:border-gray-700"
        >
          @defer(when x.active) {
          <ui-trailers-slider
            [videos]="videos().value"
            [loading]="videos().loading"
          />
          }
        </div>
        <div
          uiTab
          #x="uiTab"
          tabTitle="Backdrops"
          class="!p-0 border border-white dark:border-gray-700"
        >
          @if(images().value?.backdrops; as backdrops) {
            @defer(when x.active) {
              <ui-posters-slider [loading]="images().loading" [posters]="backdrops" />
            }
          }
        </div>
        <div
          uiTab
          #x="uiTab"
          tabTitle="Posters"
          class="!p-0 border border-white dark:border-gray-700"
        >
          @if(images().value?.posters; as posters) {
            @defer(when x.active) {
              <ui-posters-slider [loading]="images().loading" [posters]="posters" />
            }
          }
        </div>
      </ui-tabset>
    </section>
  </div>

  <!-- aside -->
  <div class="w-full md:w-1/4 mt-4 md:mt-0 p-4 md:pt-16">
    @if(data.networks.length) {
    <div class="mb-4 md:mb-8">
      <h3 class="text-sm font-semibold text-gray-800 dark:text-white">
        Network
      </h3>
      <div class="mt-3">
        <img
          class="min-w-[250px] w-[250px]"
          [src]="'https://media.themoviedb.org/t/p/original' + data.networks[0].logo_path"
          alt="data.networks[0].name"
          width="250"
        />
      </div>
    </div>
    }
    <div class="mb-4 md:mb-8">
      <h3 class="text-sm font-semibold text-gray-800 dark:text-white">
        Status
      </h3>
      <p>{{ data.status }}</p>
    </div>
    <div class="mb-4 md:mb-8">
      <h3 class="text-sm font-semibold text-gray-800 dark:text-white">Type</h3>
      <p>{{ data.type }}</p>
    </div>
    <div class="mb-4 md:mb-8">
      <h3 class="text-sm font-semibold text-gray-800 dark:text-white">
        Original language
      </h3>
      <p class="uppercase text-hero font-semibold">
        {{ data.original_language }}
      </p>
    </div>
    <div class="mb-4 md:mb-8">
      <h3 class="text-sm font-semibold text-gray-800 dark:text-white">
        Keywords
      </h3>
      <div class="flex gap-2 flex-wrap mt-4">
        @for(k of keywords().value; track k.id) {
        <button
          uiRipple
          type="button"
          [name]="k.name"
          aria-label="find-related-by-keyword"
          [title]="'Search related movies by keyword ' + k.name"
          class="app-button block bg-white dark:bg-gray-700/50 hover:opacity-75"
        >
          <div
            class="flex size-full items-center justify-center font-semibold text-xs"
          >
            <span class="ml-2">{{ k.name }}</span>
          </div>
        </button>
        }
      </div>
    </div>
    @if(externalIds().value; as socials) {
    <div class="mb-4 md:mb-8 flex items-center gap-2">
      <!-- facebook -->
      @if (socials.facebook_id; as facebook) {
      <a
        target="_blank"
        title="Visit Facebook"
        aria-label="facebook-button"
        [href]="'https://facebook.com/' + facebook"
        class="text-gray-800 dark:text-white relative group/tooltip"
      >
        <fast-svg name="facebook" size="27" />
        <span class="tooltip-top">Visit Facebook</span>
      </a>
      }
      <!-- twitter -->
      @if (socials.twitter_id; as x) {
      <a
        target="_blank"
        title="Visit X/Twitter"
        aria-label="x-button"
        [href]="'https://twitter.com/' + x"
        class="text-gray-800 dark:text-white relative group/tooltip"
      >
        <fast-svg name="twitter" size="27" />
        <span class="tooltip-top">Visit X/Twitter</span>
      </a>
      }
      <!-- instagram -->
      @if (socials.instagram_id; as ig) {
      <a
        target="_blank"
        title="Visit Instagram"
        aria-label="instagram-button"
        [href]="'https://instagram.com/' + ig"
        class="text-gray-800 dark:text-white relative group/tooltip"
      >
        <fast-svg name="instagram" size="27" />
        <span class="tooltip-top">Visit Instagram</span>
      </a>
      }
      <!-- homepage -->
      @if (data.homepage; as link) {
      <a
        [href]="link"
        target="_blank"
        title="Visit homepage"
        aria-label="homepage-button"
        class="text-gray-800 dark:text-white relative group/tooltip"
      >
        <fast-svg name="link" size="27" />
        <span class="tooltip-top">Visit Homepage</span>
      </a>
      }
    </div>
    }
  </div>
</div>
}
