@use "../../styles/mixins" as *;

:host {
  --nav-icon-height: 66px;
  --nav-icon-width: 50px;
  height: auto;
  @apply flex gap-4 lg:h-[500px];
}

@mixin nav-button {
  z-index: 2;
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
  top: calc((500px - var(--nav-icon-height)) / 2);
  @apply hidden md:flex items-center justify-center
  absolute
  text-gray-50/90 hover:text-red-500
  bg-gray-900/20
  rounded-md
  border border-gray-50/60
  cursor-pointer;
  @include fade-sm();
}

.amdb-swiper-nav-prev {
  @include nav-button();
}

.amdb-swiper-nav-next {
  @include nav-button();
  right: 0.5rem;
}

#amdb-swiper-main {
  &::part(bullet-active) {
    background-color: white;
  }

  @mixin gradientbackdrop {
    @apply bg-gradient-to-t
      from-white from-10% via-white/60 via-35% to-transparent to-70%
      dark:from-gray-900 dark:from-10% dark:via-gray-900/70 dark:via-40% dark:to-transparent dark:to-70%;
  }

  .slide-item {
    max-height: var(--slider-height);
    @apply rounded overflow-clip relative;

    .backdrop-active {
      @include gradientbackdrop();
    }

    .thumb-active {
      @include gradientbackdrop();
    }
  }
}

#amdb-swiper-thumbs {
  &::part(container) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .thumb-slide {
    &:nth-child(odd) {
      app-movie-thumb-preview {
        @apply bg-gray-200/50 dark:bg-gray-600/10;
      }
    }
  }
}
